<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Nodejs</a>
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li id="product-dropdown" class="nav-item dropdown">
          <a href="/products" class="dropdown-toggle nav-link">Products<span class="caret mt-5"></span></a>
          <ul class="dropdown-menu mt-0">
            <li role="separator" class="divider"></li>
            <li><a href="" data-toggle="modal" data-target="#addForm" class="nav-link">Ajouter produit</a></li>
            <li role="separator" class="divider"></li>
          </ul>
          {# <a class="nav-link" href="/products">Products</a> #}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



  {# $$$$$$$$$$$$ ADD MODAL $$$$$$$$$$$$$$ #}
  <div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau produit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/products">
            <div class="form-group">
              <label for="ref" class="col-form-label">Reference:</label>
              <input type="text" class="form-control" name="ref" id="ref">
            </div>
            <div class="form-group">
              <label for="wording" class="col-form-label">Libellé:</label>
              <input type="text" class="form-control" name="wording" id="wording">
            </div>
            <div class="form-group">
              <label for="price" class="col-form-label">Prix:</label>
              <input type="number" step="00.01" class="form-control" name="price" id="price">
            </div>
            <div class="form-group">
              <label for="type" class="col-form-label">Type:</label>
              <input type="text" class="form-control" name="type" id="type">
            </div>
            {# <div class="form-group">
              <label for="type" class="col-form-label">Image 1:</label>
              <input type="text" class="form-control" name="type" id="type">
            </div>
            <div class="form-group">
              <label for="type" class="col-form-label">Image 2:</label>
              <input type="text" class="form-control" name="type" id="type">
            </div> #}
            <div class="form-group d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% block body %}{% endblock %}
</body>

</html>